@page
@using Mailroom.Utils
@model Mailroom.Pages.PackageModify.DetailsModel
@inject ICurrentUserService CurrentUserService

@{
    ViewData["Title"] = "Details";
    ViewData["Meta"] = "View details for a package";
}

<h2 class="text-2xl font-semibold">Package Details</h2>
<div class="divider"></div>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 mb-6">
    <div>
        <span class="font-semibold">@Html.DisplayNameFor(m => m.FullName):</span>
        <div>@Html.DisplayFor(m => m.FullName)</div>
    </div>
    <div>
        <span class="font-semibold">@Html.DisplayNameFor(m => m.Packages.Carrier):</span>
        <div>@Html.DisplayFor(m => m.Packages.Carrier)</div>
    </div>
    <div>
        <span class="font-semibold">@Html.DisplayNameFor(m => m.Packages.DeliveredDate):</span>
        <div>
            @TimeZoneUtil.ConvertToUserTime(Model.Packages.DeliveredDate, CurrentUserService.Timezone).ToString("g")
        </div>
    </div>
    <div>
        <span class="font-semibold">@Html.DisplayNameFor(m => m.Packages.PickedUpDate):</span>
        <div>
            @(Model.Packages.PickedUpDate == DateTime.MinValue
                ? "Not Picked Up"
                : TimeZoneUtil.ConvertToUserTime(Model.Packages.PickedUpDate, CurrentUserService.Timezone).ToString("g"))
        </div>
    </div>
    <div>
        <span class="font-semibold">@Html.DisplayNameFor(m => m.Packages.Delivered):</span>
        <div>@Html.DisplayFor(m => m.Packages.Delivered)</div>
    </div>
</div>

<div class="mt-4 space-x-4">
    <a asp-page="./Edit" asp-route-id="@Model.Packages.PackageId" class="link link-primary">Edit</a>
    <a asp-page="../Index" class="link link-secondary">Back to List</a>
</div>