@page
@using Mailroom.Utils
@model Mailroom.Pages.UnknownPackageModify.DetailsModel
@inject ICurrentUserService CurrentUserService

@{
    ViewData["Title"] = "Details";
    ViewData["Meta"] = "View details for an unknown package";
}

<h2 class="text-2xl font-semibold">Package Details</h2>
<div class="divider"></div>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 mb-6">
    <div>
        <span class="font-semibold">@Html.DisplayNameFor(m => m.UnknownPackages.FullName):</span>
        <div>@Html.DisplayFor(m => m.UnknownPackages.FullName)</div>
    </div>
    <div>
        <span class="font-semibold">@Html.DisplayNameFor(m => m.UnknownPackages.Carrier):</span>
        <div>@Html.DisplayFor(m => m.UnknownPackages.Carrier)</div>
    </div>
    <div>
        <span class="font-semibold">@Html.DisplayNameFor(m => m.UnknownPackages.DeliveredDate):</span>
        <div>
            @TimeZoneUtil.ConvertToUserTime(Model.UnknownPackages.DeliveredDate, CurrentUserService.User.Timezone).ToString("g")
        </div>
    </div>
</div>

<div class="mt-4">
    <a asp-page="../Index" class="link link-secondary">← Back to List</a>
</div>