@page
@using Mailroom.Utils
@model IndexModel
@inject ICurrentUserService CurrentUserService

@{
    ViewData["Title"] = "Home page";
    ViewData["Meta"] = "Home page showing a list of packages not picked up";
}

@{
    if (CurrentUserService.Role == "Admin")
    {
        <h2>Hello, @CurrentUserService.FullName</h2>
        <p>Below are records of unknown packages and packages that have not been picked up.</p>

        <h3>For pickup</h3>
        <hr/>
        @if (!Model.Packages.Any())
        {
            <div class="alert alert-success" role="alert">
                There are no packages awaiting pickup!
            </div>
            <hr>
        }
        else
        {
            <table class="table table-striped table-hover align-middle">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Packages[0].User.First_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Packages[0].User.Last_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Packages[0].Carrier)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Packages[0].DeliveredDate)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Packages)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.First_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Last_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carrier)
                        </td>
                        <td>
                            @TimeZoneUtil.ConvertToUserTime(item.DeliveredDate, CurrentUserService.Timezone).ToString("g")
                        </td>
                        <td class="text-end pe-4">
                            <a asp-page="./PackageModify/Edit" asp-route-id="@item.PackageId"
                               class="btn btn-sm btn-outline-info me-1">
                                Edit
                            </a>
                            <a asp-page="./PackageModify/Details" asp-route-id="@item.PackageId"
                               class="btn btn-sm btn-outline-primary me-1">
                                Details
                            </a>
                            <a asp-page="./PackageModify/Delete" asp-route-id="@item.PackageId"
                               class="btn btn-sm btn-outline-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <nav aria-label="Packages pagination">
                <ul class="pagination">
                    <li class="page-item @(Model.Packages.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link"
                           asp-route-packagesPage="@(Model.Packages.PageIndex - 1)"
                           asp-route-unknownPage="@(Model.UnknownPackages?.PageIndex ?? 1)">
                            Previous
                        </a>
                    </li>
                    @for (int i = 1; i <= Model.Packages.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.Packages.PageIndex ? "active" : "")">
                            <a class="page-link" asp-route-packagesPage="@i"
                               asp-route-unknownPage="@(Model.UnknownPackages?.PageIndex ?? 1)">
                                @i
                            </a>
                        </li>
                    }
                    <li class="page-item @(Model.Packages.HasNextPage ? "" : "disabled")">
                        <a class="page-link"
                           asp-route-packagesPage="@(Model.Packages.PageIndex + 1)"
                           asp-route-unknownPage="@(Model.UnknownPackages?.PageIndex ?? 1)">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        }

        <br>
        <br/>

        <h3>Unknown packages</h3>
        <hr/>
        @if (!Model.UnknownPackages.Any())
        {
            <div class="alert alert-success" role="alert">
                There are no unknown packages!
            </div>
            <hr>
        }
        else
        {
            <table class="table table-striped table-hover align-middle">
                <thead>
                <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UnknownPackages[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnknownPackages[0].Carrier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnknownPackages[0].DeliveredDate)
                </th>
                <th></th>
                </thead>
                <tbody>
                @foreach (var item in Model.UnknownPackages)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carrier)
                        </td>
                        <td>
                            @TimeZoneUtil.ConvertToUserTime(item.DeliveredDate, CurrentUserService.Timezone).ToString("g")
                        </td>
                        <td class="text-end pe-4">
                            <a asp-page="./UnknownPackageModify/Details" asp-route-id="@item.UnknownPackageId"
                               class="btn btn-sm btn-outline-primary me-1">
                                Details
                            </a>
                            <a asp-page="./UnknownPackageModify/Delete" asp-route-id="@item.UnknownPackageId"
                               class="btn btn-sm btn-outline-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <nav aria-label="Unknown packages pagination">
                <ul class="pagination">
                    <li class="page-item @(Model.UnknownPackages.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link"
                           asp-route-packagesPage="@(Model.Packages.PageIndex)"
                           asp-route-unknownPage="@(Model.UnknownPackages.PageIndex - 1)">
                            Previous
                        </a>
                    </li>
                    @for (int i = 1; i <= Model.UnknownPackages.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.UnknownPackages.PageIndex ? "active" : "")">
                            <a class="page-link"
                               asp-route-packagesPage="@(Model.Packages.PageIndex)"
                               asp-route-unknownPage="@i">
                                @i
                            </a>
                        </li>
                    }
                    <li class="page-item @(Model.UnknownPackages.HasNextPage ? "" : "disabled")">
                        <a class="page-link"
                           asp-route-packagesPage="@(Model.Packages.PageIndex)"
                           asp-route-unknownPage="@(Model.UnknownPackages.PageIndex + 1)">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        }
    }
    else
    {
        <h2>Hello, @CurrentUserService.FullName</h2>
        @if (!Model.Packages.Any())
        {
            <hr/>
            <div class="alert alert-info" role="alert">
                You have no packages awaiting pickup.
            </div>
        }
        else
        {
            <p>Below are a list of packages available to you for pickup. Please go to the office to pick up your
                packages.</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Packages[0].Carrier)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Packages[0].DeliveredDate)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Packages)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carrier)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveredDate)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <nav aria-label="Your packages pagination">
                <ul class="pagination">
                    <li class="page-item @(Model.Packages.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" asp-route-packagesPage="@(Model.Packages.PageIndex - 1)">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.Packages.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.Packages.PageIndex ? "active" : "")">
                            <a class="page-link" asp-route-packagesPage="@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.Packages.HasNextPage ? "" : "disabled")">
                        <a class="page-link" asp-route-packagesPage="@(Model.Packages.PageIndex + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        }
    }
}